body {
    margin: 0;
    background: black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* height: 100vh; */
    font-family: sans-serif !important;
}

.game__container {
    position: relative;
}

.game__header {
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    width: 100%;
}

.game__score {
    margin: 1rem;
    color: white;
    font-weight: normal;
}

.game__title {
    position: absolute;
    z-index: 2;
    color: white;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: normal;
    padding-top: 50vh;
}

.game__subtitle {
    position: absolute;
    z-index: 2;
    color: white;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: normal;
    padding-bottom: 50vh;
}

.game__controls {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.game__controls-left {
    font-size: 3rem;
    margin: 0 .5rem;
    color: rgba(255, 255, 255, 0.226);
    width: 30%;
    text-align: start;
    font-weight: bold;
}

.game__controls-shoot {
    font-size: 3rem;
    margin: .5rem;
    color: rgba(255, 255, 255, 0.226);
    width: 30%;
    text-align: center;
    font-weight: bold;
}

.game__controls-right {
    font-size: 3rem;
    margin: 0 .5rem;
    color: rgba(255, 255, 255, 0.226);
    width: 30%;
    text-align: end;
    font-weight: bold;
}

.game__autoshoot {
    color: white;
    display: none;
    margin: 1rem;
}