body {
    margin: 0;
    background: black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* height: 100vh; */
}

.game__container {
    position: relative;
}

.game__score {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    margin: 1rem;
    color: white;
    font-family: sans-serif;
    font-weight: normal;
}

.game__title {
    position: absolute;
    z-index: 2;
    color: white;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: normal;
}

.game__controls {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.game__controls-left {
    font-size: 2.5rem;
    margin: 0 .5rem;
    color: rgba(255, 255, 255, 0.226);
}

.game__controls-shoot {
    font-size: 2.5rem;
    margin: .5rem;
    color: rgba(255, 255, 255, 0.226);
}

.game__controls-right {
    font-size: 2.5rem;
    margin: 0 .5rem;
    color: rgba(255, 255, 255, 0.226);
}